@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Give+You+Glory);
@import url(https://fonts.googleapis.com/css?family=Alice);
@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

h1{
  text-align:center;
  font-size: 85px;
  padding: 20px;
  font-family:Walter Turncoat;
  background-color:#AA3939;
  color:#550000;
  margin:10px;
}

p{
  text-align: center;
  font-size:50px;
  font-family:Gilda Display;
  color:#550000;
  padding:5px;
}

div{
  font-family:Gilda Display;
  font-size:25px;
  float:right;
  color:#504E4E;
}

img{
  float:left;
  padding:10px;
}
